.App {
  background-color: var(--body_background);
  color: var(--body_color);
  position: relative;
}

.primary-btn {
  border: 2px solid var(--primary_color);
  background-color: var(--primary_color);
  color: var(--body_background);
}

.secondary-btn {
  border: 2px solid var(--secondary_btn_border);
  background-color: #1E2025;
  color: #FCF9F6;
}

.header-color {
  color: var(--header_color);
}